
$font-stack: $main-font, sans-serif;

$bg-main: #1c2025;
$bg-main-darker: #171a1e;
$lyt-split: #171a1f;

$bg-ui-active: steelblue;

$hvr: #252c33;

$font-clr: #98a2b7;
$font-clr-subtle: #696d80;
$font-clr-secondary: slategray;
$font-clr-hvr: #b3b3b3;

$red: rgb(215, 125, 50);
$frame-action: steelblue;

// sum of paddings and margin to the first character in .mod-head
// ...depcrecated
$mod-x-padding: 7px;

@mixin flex-row() {
	display: flex;
	flex-direction: row;
}

@mixin flex-col() {
	display: flex;
	flex-direction: column;
}

@mixin dlgtFcs($clr) {
	outline: none;
	
	&:focus > * {
		outline: 1px solid $clr;
	}
}

@mixin noUserSelect() {
	-webkit-user-select: none;
	user-select: none;
}

// rename to abs-fill
@mixin absoluteFill() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin abs-fill() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.abs-fill {
	@include absoluteFill();
}

.draft {
    display: none !important;
}


html, body {
	@include abs-fill();
	
    margin: 0;
    padding: 0;
    background: $bg-main;
    color: rgb(220, 220, 220);
	color: slategrey;
    font-family: $font-stack;
	animation: fade-in 0.5s;
	-webkit-user-select: none;
	cursor: default;
	
	overflow: hidden;
}

.clr-subtle {
	color: $font-clr-subtle;
}