
#content.move-mod .mod-con:hover {
	outline: 2px solid $frame-action;
	outline-offset: -2px;
}

.mod-con {
	min-height: 20px;
	min-width: 50px;
}

.mod-head {
	background-color: $bg-main;
	color: $font-clr-secondary;
}

.mod-button {
    text-shadow: 0 1px 0 rgb(20, 20, 20);
	padding: 5px;
	
	&:hover,
	&:active {
		background-color: $hvr;
		text-shadow: none;
		color: #8b9eb1;
	}
}

.mod-sel {
	cursor: default;
	position: relative;
	
	&:hover {
		color: $font-clr-hvr;
	}
	
	align-items: center;
	padding: 0 15px;
}


.mod-title {
	font-size: 14px;
	
	@include noUserSelect();
	pointer-events: none;
	
	overflow: hidden;
	white-space: nowrap;
}

.mod-body {
	position: relative;
	overflow: hidden;
}

.mod-sett {
	position: relative;
	
	&:focus .mod-sett-menu {
		display: flex;
	}
	
	&:focus {
		outline: none;
	}
}

.mod-sett-menu {
	@include flex-col();
	display: none;
	top: 0;
	right: 0;
	position: absolute;
	max-width: 180px;
	width: 180px;
	background-color: $bg-main;	
	z-index: $z-mdl + 1;
	
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*
	last module in a flexer should always fill out
	the available space and ignore width/height
*/

.mod-con:last-child,
.flexer:last-child {
	flex: 1;
}

.flex-col .mod-con:last-child {
	height: auto !important;
}

.flex-row .mod-con:last-child {
	width: auto !important;
}