
.navi-view {
	@include flex-col();
}

.navi-view-item {;
	white-space: nowrap;
	@include noUserSelect();
	
	animation-fill-mode: both;
	animation: list-item-in $list-in-dur ease-out;
	
	&:hover .navi-view-item-close {
		visibility: visible;
	}
}

.navi-view-item-label {
	@include flex-row();
	font-size: 14px;
	flex: 1;
	overflow-x: hidden;
	padding: 5px 10px;
	
	&:hover {
		background-color: $hvr;
	}
	
	&:active {
		background-color: $bg-ui-active;
		color: whitesmoke;
	}
}

.navi-view-item-close {
	visibility: hidden;
	font-size: 16px;
	width: 18px;
	justify-content: center;
	@include flex-col();

	padding: 0 5px;
	&:hover {
		background-color: $hvr;
	}
}

.navi-view-fdir {
	color: grey;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}