
.imgprev-main {
	background-repeat: no-repeat;
	background-position: center;
}

.imgprev-info-bar {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 10px 25px;
	color: slategrey;
	text-align: right;
}