
.tree-item {
	.tree-label {
		&:hover {
			background-color: $hvr;
		}
		
		padding: 4px 25px 4px 35px;
		color: $font-clr;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.tree-item {
		margin-left: 20px;
	}
	
	padding: 0;
	&.tree-parent > .tree-label{
		
		&:before {
			content: ">";
			display: block;
			transform: rotate(90deg);
			transition: transform .1s ease-out, color .1s ease-out;
			margin-left: -20px;
			position: absolute;
			color: deepskyblue;
			text-shadow: 0 1px 0 black;
		}
	}
	
	/** indicator for empty folders */
	&.tree-parent > .tree-children:empty:after {
		content: "empty";
		font-style: italic;
		color: #696d80;
		margin-left: 55px;
	}
	
	&.tree-collapsed > .tree-label {		
		&:before {
			content: ">";
			display: block;
			transform: rotate(0deg);
			color: grey;
		}
	}
	
	&.tree-collapsed > .tree-children {
		display: none;
	}
	
	&.tree-selected > .tree-label {
		background-color: rgba(32, 65, 107, 0.3);
	}
	
	&.tree-active > .tree-label {
		background-color: rgba(32, 65, 107, 0.55);
	}
}